<header>
  <div class="ribbon-outer">
    <div class="ribbon-inner">
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
      <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    </div>
    <ul>
      <li><a href="https://github.com/saikiran92" target="_blank">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/saikiranm92/" target="_blank">LinkedIn</a></li>
    </ul>
    <span class="left-tail"></span>
    <span class="right-tail"></span>
  </div>

    <div class="navbar">
      <span class="inner">
        <nav class="nav">
          <ul class="nav-list">
            {% for item in site.data.navigation %}
              <li class="nav-item">
                <a href="{{ item.url | relative_url }}" class="{% if page.url == item.url %}current{% endif %}">
                  {{ item.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </span>
    </div>
</header>

<a href="https://github.com/saikiran92" target="_blank">
  <img src="https://github.com/blog/1674-fork-me-on-github-ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
</a>
