<header>
  <div class="ribbon-outer">
    <div class="ribbon-inner">
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
      <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    </div>
    <span class="left-tail"></span>
    <span class="right-tail"></span>
  </div>
</header>

<a href="https://github.com/saikiran92" target="_blank">
  <img src="https://github.com/blog/1674-fork-me-on-github-ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
</a>
